.todo-title {
  font-size: 35px;
  color: rgba(0,0,0,0.2);
  text-decoration: line-through;
}
.todo-title-active {
  color: black;
  font-size: 35px;
}
.todo-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.3px rgba(0,0,0,0.2);
}

.todo-cb {
  margin: auto 10px;
}
.todo-title-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.todo-delete-container {
  display: flex;
  align-items: center;
  padding-right: 5px;
}