.footer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode-button {
  margin: auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mode-button-text {
  font-size: 25px;
  color: #1890ff;
  cursor: pointer;
}
.mode-button-text-active {
  cursor: pointer;
  font-size: 25px;
  color: red;
}