.header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 10px;
  background-color: rgb(96, 181, 250);
}

.header-text {
  background: transparent;
  width: 100%;
  font-size: 35px;
  border: 0;
  color: white;
}